
body { /*The body of the entire page*/
    font-family: Arial;
    margin: auto;
    background-color: #000000;
    color: #f6f6f6;
    background-image: url('Image.jpg');
    background-size: cover;
} 
header { /*The two headers for my pages*/
    background: rgb(0, 0, 0);
    color: #f54c4c;
    padding: 10px;
    text-align: center;
}
main { /*this is for the boxes on page one*/
    padding: 100px;
    justify-content: center;
}
footer { /*basic footer*/
    background: #000000;
    color: #a8a8a8;
    text-align: center;
    padding: 20px;
    width: 100%;
}  
.img{ /*Changing the height and width of my image*/
    border: 20px;
    height: 200px;
    width: 250px;
}
.why{ /*slightly altered since this is not a link, just to camouflage with the other boxes*/
    background-color:rgba(0, 0, 0, 0.84);
    padding-left: 10px;
    height: 110px;
    width: 600px;
    border: 1px solid rgb(255, 0, 0);
    margin: 50px;
    color: #ff0000;
    font-size: 30px;
    line-height: 30px;
}
.list{ /*this is for styling my boxes I had made*/
    background-color:rgba(0, 0, 0, 0.84);
    line-height: 10px;
    padding-left: 10px;
    height: 150px;
    width: 600px;
    border: 1px solid rgb(255, 0, 0);
    margin: 50px;
    color: rgb(166, 58, 58);
    font-size: 40px;
} 

.page2box{ /*One large box with all of my content inside of it*/
    background-color:rgba(0, 0, 0, 0.84);
    line-height: 70px;
    padding-left: 20px;
    height:4200px;
    width: 1700px;
    border: 1px solid rgb(255, 0, 0);
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(166, 58, 58);
    font-size: 40px;
} 
.img1{ /*positioning the images to suit it better*/
    float:right
}
.img2{
    float:left
}
